
@font-face {
    font-family: 'NuestraFuentePersonalizada';
    src: url('../fuentes/NuestraFuentePersonalizada.ttf') format('truetype');
}
body {
    text-align: center;
    font-size: 20px;
    font-family: NuestraFuentePersonalizada, sans-serif;
    background: radial-gradient(#f4ddb1, #cd9857);
    margin: 0;
    padding: 0;
}
.grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 90%;
    margin: auto;
    padding: 15px;
}
.caja {
    padding: 10px;
    border: none;
    background-color: transparent;
}
.intro {
    margin: 0 20px;
    font-size: 20px;
}
img {
    width: 400px;
    height: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}
td, th {
    border: 1px solid black;
    padding: 10px;
}
table img {
    width: 150px;
    height: auto;
}
#barra_busquedas table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}
#barra_busquedas td {
    padding: 8px;
    border: 1px solid black;
}
a {
    color: #3366cc;
    text-decoration: none;
}
a:visited {
    color: #8B0000;
    text-decoration: none;
}
a:hover {
    color: #DAA520;
    text-decoration: underline;
}
a:active {
    color: #006400;
    text-decoration: none;
}
