@font-face {
    font-family: 'NuestraFuentePersonalizada';
    src: url('../fuentes/NuestraFuentePersonalizada.ttf') format('truetype');
}
body {
    text-align: center;
    font-size: 20px;
    font-family: "NuestraFuentePersonalizada", sans-serif;
    background: radial-gradient(#f4ddb1, #cd9857);
    margin: 0;
}
.grid-layout {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.caja {
    padding: 0;
    border: none;
    background-color: transparent;
}
.caja img {
    width: 400px;
    height: auto;
}
.caja h1 {
    font-size: 50px;
    margin: 0;
}
.caja p {
    font-size: 18px;
    margin-top: 10px;
}